* {
  font-family: 'Roboto Slab', serif;
  --green-forest: #4BCA7E;
  --off-white: #FAFAFA;
  --off-black: #212121;
  --sweet-grey: #BDBDBD;
}

.green {
  color: var(--green-forest) !important;
}
.white {
  color: var(--off-white) !important;
}

.sans {
  font-family: 'Roboto', sans-serif;
  line-height: 95% !important;
}

.thin {
  font-weight: 300 !important;
}
.bold {
  font-weight: 700 !important;
}
.black {
  font-weight: 900 !important;
}

body {
  background: var(--off-white);
}

section {
  min-height: 90vh;
  width: 100%;
}

.large-section {
}

.small-section {
  min-height: 0px !important;
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (max-width: 545px) {
  .small-section {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (min-width: 545px) {
  .small-section {
    padding-left: 96px;
    padding-right: 96px;
  }
}

.hero-section {
  position: relative;
}

.hero-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.16));
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
}

.hero-overlay .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 500px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width: 545px) {
  .hero-overlay .content h2{
    font-size: 1.5rem;
  }
}

.dark-logo {
  width: 40%;
  margin-bottom: 32px;
}

.phone {
  max-width: 315px;
}

.phone-top {
  position: relative;

}
.phone-top:hover {

}
.playstore-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -15px;
  transition: bottom 0.5s;
}
.playstore-link:hover {
  bottom: -6px;
}
.become-tester {
  position: absolute !important;
  margin-top: 24px;
  z-index: 100;
  margin-left: -4px;
  background: var(--green-forest) !important;
  transition: background-color 0.2s;
}
.become-tester:hover {
  background: #46c177 !important;
}

.about-section-large {
  background: var(--off-black);
  overflow: hidden;
}
.about-section {
  background-image: url("../images/lady-dark.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px -24px 100px 0px rgba(0,0,0,0.2);
  position: relative;
  z-index: 10;
  padding-top: 48px;
}
@media screen and (max-width: 545px) {
  .about-section {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (min-width: 545px) {
  .about-section {
    padding-left: 96px;
    padding-right: 96px;
  }
}
.about-section .content {
  max-width: 550px;
  position: relative;
  left: -32px;
  opacity: 0;
  transition: all 1s;
}
.about-section .content.active {
  max-width: 550px;
  left: 0;
  opacity: 1;
}
.bottom-about-section {
  position: relative;
  z-index: 20;
  background: var(--off-black);
  display: flex;
  min-height: 0px;
}
@media screen and (max-width: 545px) {
  .bottom-about-section {
    flex-direction: column-reverse;
    padding-bottom: 500px;
  }
}
@media screen and (min-width: 545px) {
  .bottom-about-section {
    flex-direction: row;
    padding-bottom: 64px;
  }
}
.bottom-about-section .content {
  max-width: 550px;
}
.section-left {
  display: flex;
  justify-content: center;
  position: relative;
}
.section-left-overlay {
  position: absolute;
  top: 50vh;
  transition: top 2s;
}
.section-left-overlay.active{
  top: 64px;
}
.section-right {
  padding-top: 32px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  right: -32px;
  opacity: 0;
  transition: all 1s;
}
@media screen and (max-width: 545px) {
  .section-right {
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
  }
  .section-left {
    width: 100%;
  }
}
@media screen and (min-width: 545px) {
  .section-right {
    padding-right: 96px;
    width: 50%;
  }
  .section-left {
    width: 50%;
  }
  .section-left-overlay {
    left: calc(100% / 2 - 175px);
  }
}
.section-right.active {
  right: 0;
  opacity: 1;
}

.mailing-section {
  position: relative;
  z-index: 30;
  background: var(--green-forest);
  box-shadow: 0px -24px 100px 0px rgba(0,0,0,0.2);
}
.feedback-section {
  position: relative;
  z-index: 40;
  background: var(--off-white);
  box-shadow: 0px 24px 100px 0px rgba(0,0,0,0.2);
}

form {
  display: flex;
  flex-direction: row;
}
form .inputs {
  width: 500px;
  max-width: 500px;
  margin-right: 24px;
}

.inputs * {
  margin-bottom: 12px;
}

footer {
  background: var(--off-black);
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0 !important;
  margin-top: -5px;
}

.phone-bottom {
  margin-bottom: 48px;
}

.small-phone {
  position: relative;
}

#l1 .small-phone {
  width: 10vw;
}
#l2 .small-phone {
  width: 12vw;
}
#l3 .small-phone {
  width: 14vw;
}
#l4 .small-phone {
  width: 16vw;
}

#box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
  overflow: hidden;
}

.layer {
	position: absolute;
	display: block;
}

#mce-responses {
  position: fixed;
  left: 24px;
  margin-right: 24px;
  bottom: 0;
  z-index: 500;
}

.response {
  color: var(--off-white);
  cursor: pointer;
}

.notification:not(:last-child) {
  margin-bottom: 0 !important;
}

#mce-error-response:empty {
  display: none !important;
}
#mce-success-response:empty {
  display: none !important;
}

.hidden {
  display: none !important;
}
.show {
  display: block !important;
}

.notification-x {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px;
  top: 0;
  color: var(--off-white);
  pointer-events: none;
}

a {
  transition: all 0.2s;
}

.overlay-privacy {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--off-black);
  z-index: 300;
  justify-content: center;
  align-items: center;
}

.privacy-container {
  background: var(--off-white);
  width: 100%;
  max-width: 800px;
  margin: 48px;
  height: 80vh;
  max-height: 80vh;
  border-radius: 4px;
  padding: 48px;
  overflow: scroll;
}
